<%- include("partials/header"); -%>

    <div class="track_box">
        <form action="" method="POST" class="track_coding_profile">
            <h2>Track Coding Profile</h2>
            <label for="platform">Platform: </label>
            <select name="platform" id="" required>
                <option value="codechef" selected>Codechef</option>
                <option value="codeforces">Codeforces</option>
                <option value="leetcode">Leetcode</option>
            </select>
            <label for="username">Username: </label>
            <input type="text" name="username" required autocomplete="off"/>
            <button type='submit'>Get profile</button>
        </form>
    </div>
    <% if(data) { %>
       <div class="profile_box">
           <h2>Profile Box</h2>
            <% if(data.platform == "codechef" && data.response.status !== "Failed") { %>
                <%- include("partials/platforms/codechef") -%>
            <% } else if(data.platform == "codeforces" && data.response.status !== "Failed") { %>
                <%- include("partials/platforms/codeforces") -%>
            <% } else if(data.platform == "leetcode" && data.response.status !== "Failed") { %>
                <%- include("partials/platforms/leetcode") -%>
            <% } %>
            <% if(data.response.status == "Failed") { %>
                <div class="Error_Box">
                    <h2><%= data.response.status %></h2>
                    <span><%= data.response.details %></span>
                </div>
            <% } %>
       </div>
    <% } %>

    <%- include("partials/footer") -%>