<div class="leetcode_box">
    <div class="leetcode_badge">

        <div class="small_card current_platform">
            <h2><%= data.username %></h2>
            <span><%= data.platform %></span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.ranking %></h2>
            <span>current ranking</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.total_problems_submitted %></h2>
            <span>Total problems submitted</span>
        </div>


        <div class="small_card current_platform">
            <h2><%= data.response.easy_problems_submitted %></h2>
            <span>Easy problems submitted</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.easy_questions_solved %>/<%= data.response.total_easy_questions %></h2>
            <span>Easy problems solved</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.medium_problems_submitted %></h2>
            <span>Easy problems submitted</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.medium_questions_solved %>/<%= data.response.total_medium_questions %></h2>
            <span>Medium problems solved</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.hard_problems_submitted %></h2>
            <span>Easy problems submitted</span>
        </div>

        <div class="small_card current_platform">
            <h2><%= data.response.hard_questions_solved %>/<%= data.response.total_hard_questions %></h2>
            <span>Hard problems solved</span>
        </div>
    </div>
</div>